@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Brand Colors */
  --color-brand-primary: #2563eb;
  --color-brand-primary-hover: #1d4ed8;

  /* Light Mode Base */
  --color-bg-page: #f8fafc;
  /* Slate-50 for main background */
  --color-bg-card: #ffffff;
  --color-bg-input: #ffffff;
  --color-bg-muted: #f1f5f9;
  /* Slate-100 */
  --color-bg-hover: #f8fafc;

  /* Light Mode Text */
  --color-text-main: #0f172a;
  /* Slate-900 */
  --color-text-muted: #64748b;
  /* Slate-500 */
  --color-text-inverted: #ffffff;

  /* Light Mode Borders */
  --color-border-main: #e2e8f0;
  /* Slate-200 */
  --color-border-focus: #3b82f6;

  /* Functional */
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}

.dark {
  /* Dark Mode Base */
  --color-bg-page: #0f172a;
  /* Slate-900 */
  --color-bg-card: #1e293b;
  /* Slate-800 */
  --color-bg-input: #1e293b;
  --color-bg-muted: #334155;
  /* Slate-700 */
  --color-bg-hover: #1e293b;

  /* Dark Mode Text */
  --color-text-main: #f8fafc;
  /* Slate-50 */
  --color-text-muted: #94a3b8;
  /* Slate-400 */
  --color-text-inverted: #0f172a;

  /* Dark Mode Borders */
  --color-border-main: #334155;
  /* Slate-700 */
  --color-border-focus: #3b82f6;
}

@theme {
  --color-primary: var(--color-brand-primary);
  --color-primary-hover: var(--color-brand-primary-hover);

  --color-background: var(--color-bg-page);
  --color-card: var(--color-bg-card);
  --color-background-muted: var(--color-bg-muted);
  --color-background-input: var(--color-bg-input);
  --color-background-hover: var(--color-bg-hover);

  --color-foreground: var(--color-text-main);
  --color-foreground-muted: var(--color-text-muted);
  --color-foreground-inverted: var(--color-text-inverted);

  --color-border: var(--color-border-main);
  --color-ring: var(--color-border-focus);

  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-error: var(--color-error);
}

/* Custom Animation Class */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}